doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='javascript',href='/javascripts/bootstrap.min.js')
  body
    div.container.text-center
        nav.navbar.fixed-top.navbar-expand-md.navbar-light.justify-content-center
            .container
                ul.mar
                  a.navbar-brand(href='/ ') Movies4U
                  a.nav-item(href='/about/') About
                  a.nav-item(href='/list/') Movie List
                  a.nav-item(href='/display/') Watch

        block content
        footer
            p NavneetKaur_1053@Assignment1
